{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Create Chapter' | trans }}
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item">
		<a class="crumb crumb-link" href="{{ path('dashboard') }}">{{ 'Dashboard' | trans }}</a>
	</li>
	{% for crumb in chapter.editBreadcrumbs(app.user.language) %}
		{{ include('partials/breadcrumbs.html.twig') }}
	{% endfor %}
{% endblock %}

{% block body %}
	<div class="example-wrapper">

		{% if chapter.title(app.user.language) %}
			<h1 class="title-css">
				<span class="ui-meta-label">{{'You are editing Chapter:' | trans}}</span><br>
				{{chapter.title(app.user.language) }}</h1>
		{% else %}
			<h1 class="title-css">{{ 'New Chapter Creation' | trans }}</h1>

		{% endif %}


		<div class="container my-3">
			<div class="row">
				<p class="mod-step">{{ 'Edit the chapters English title and description' | trans }}</p>
			</div>

			<section class="module-cube">
				{{ form_start(chapterTranslationForm) }}
				{{ form_row(chapterTranslationForm.title) }}
				{{ form_row(chapterTranslationForm.description,  {'attr': {'class': 'js-richtexteditor-minimal'}}) }}
				<button class="p-1 btn btn-skills button_8 buttonNavBox">{{ 'Update' | trans }}</button>
				{{ form_end(chapterTranslationForm) }}
			</section>

			<div class="row">
				<p class="mod-step">{{ 'Pages overview' | trans }}</p>
			</div>


			<ol id="js-sortable-pages" class="sortable list-group">

				{% for page in chapter.pages %}
					<li class="list-group-item" data-id="{{ page.id }}" data-module="{{ module.id}}" data-chapter="{{ chapter.id}}">
						<section class="module-cube">
							<p style="clear:both;opacity:.1; float:right">#{{ loop.index }}</p>

							<!--	<span class="ui-meta-label">{{ 'Page' |trans }}
															#{{ page.position+1 }}</span><br>
														<span class="ui-meta-label">ID: #{{ page.id }}</span><br>-->
							<h4>{{ page.title(english) }}</h4><br>
							<a class="p-1 btn btn-skills button_8 buttonNavBox" href="{{ path('edit_page', {module: module.id, chapter: chapter.id, page: page.id, lang: 'en', return: 'flow'}) }}">
								{{ 'Edit Page' | trans }}</a>
							<a class="btn-deletequestion button_2 deleteHover float-right" onclick="return confirm('Are you sure you want to delete this page?')" href="{{ path('delete_page', {module: module.id, chapter: chapter.id, page: page.id, return: 'flow'}) }}">
								{{ 'Delete Page' | trans }}</a>
						</section>
					</li>
				{% endfor %}
			</ol>

			<div class="text-center">
				<a class="p-1 button btn-skills button_3" href="{{ path('create_page', {module: module.id, chapter: chapter.id}) }}">{{ 'Add Page' | trans }}</a>
				<a class="p-1 button btn-skills button_3" href="{{ path('edit_module', {module: module.id}) }}">{{ 'Module overview' | trans }}</a>
				<a class="p-1 button btn-skills button_3" href="{{ path('quiz_show', {id: chapter.quiz.id}) }}">{{ 'Edit Quiz' | trans }}</a>
			</div>
		</div>

		<div id="js-block-ui" class="hidden">
			<div class="overlay"></div>
			<p>Saving, please wait...</p>
		</div>
		<script src="/assets/js/ckeditor5/build/ckeditor.js"></script>
		<script src="/assets/js/l2g-ckeditor.js"></script>
	{% endblock %}
