{% extends 'base.html.twig' %}

{% block title %}L2G - {{ 'My profile' | trans | title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="row">
        <div class="col-md-8">
            {# default mode #}
            <div class="profileimgwrap card auto">
                <div class="profileimg profileimgwrap">
                    {% if user.avatar %}
                        <img src="{{ asset(user.avatar | imagine_filter('profile')) }}" alt="avatar of {{ user.name }}">
                    {% else %}
                        <img src="{{ asset('logo_transparent.png' | imagine_filter('profile')) }}" alt="avatar of {{ user.name }}">
                    {% endif %}
                </div>
                <div class="profiletext">
                    <p>{{ user.username }}</p>
                    <p>{{ user.name }}</p>
                    <p>{{ user.email }}</p>

                    <div class="button button_2" id="imagebutton">{{ 'Edit' | trans }} {{ 'Profile' | trans }}</div>

                </div>
            </div>
            {# edit mode : only if "edit-btn" is clicked #}
            <div class="gone card absCenter" id="show">

                <div class="profilechange">
                    {{ form_start(profileForm) }}
                    {{ form_row(profileForm.username) }}
                    {{ form_row(profileForm.name) }}
                    {{ form_row(profileForm.email) }}
                    {#                    <div class="gone" id="show">#}
                    {{ form_row(profileForm.avatar,
                        { 'attr': {'class': 'profileupload'}
                        }) }}
                    {#                    </div>#}
                    <button class="button_2 button bottom">{{ 'Update' | trans }} {{ 'Profile' | trans }}</button>

                    {{ form_end(profileForm) }}

                    {# Delete my account#}
                    <div>
                        {{ form_start(deleteBtn) }}
                        {{ form_widget(deleteBtn.delete_user,
                            { 'label': 'Delete my account'
                                , 'attr': {'onclick': 'return confirm("Are you sure to delete your account?")', 'class': 'btn-deletequestion button_2 deleteHover'}
                            }) }}
                        {{ form_end(deleteBtn) }}
                    </div>
                </div>
            </div>

            {% for module in user.activeModules(modules) %}
                <div class="progression">
                    {% if loop.first %}

                        <h3 class="title-css progresstitle">{{ 'Active courses unlocked percentage' | trans | title }}</h3>

                    {% endif %}
                    <p class="coursetitle">{{ module.title(language) }}</p>
                    {% set userProgress = 0 %}
                    {% for userChapter in module.userChapters(user) %}
                        {% if userChapter.isUnlocked == true %}
                            {% set userProgress = userProgress + 1 %}
                        {% endif %}
                    {% endfor %}

                    <div class="progress progress_1">
                        <div class="progress-bar progress_1_bar" role="progressbar" style="width:{{ (userProgress / module.chapters | length) * 100}}%;" id="" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100"> {{ (userProgress / module.chapters | length) * 100 }}%
                        </div>
                    </div>

                    <a href="{{ path('module', {'module': module.id}) }}" class="completebutton button_2 button">{{ 'Continue' | trans }}</a>

                </div>
            {% endfor %}
        </div>

        {% if userBadges %}
        <div class="badges col-md-4 row">
            <h5 class="title-css center">{{ 'Your badges' | trans | title }}</h5>
            {% for badge in userBadges %}
                <div class="badge col-sm-6">
                    <p class="badgename">{{ badge.result.0.name }}</p>
                    <img class="badgeimage" src="{{ badge.result.0.image}}" alt="Badge" height="150" width="150">
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
    <script src="{{ asset('assets/js/profile.js') }}"></script>
{% endblock %}
