{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="example-wrapper">

    <div class="profileimgwrap">
        <div class="profileimg">
            {% if user.avatar %}
                <img src="{{ asset('uploads/' ~ user.avatar) }}" alt="avatar of {{ user.name }}">
            {% else %}
                <img src="{{ asset('assets/img/logo_transparent.png') }}" alt="avatar of {{ user.name }}">
            {% endif %}
        </div>
        <div id="changeavatar">
            {{ form_start(profileForm) }}
            <div id="imagebutton">+</div>
            {{ form_row(profileForm.avatar) }}
            <button class="button_2 btn">Change avatar</button>
            {{ form_end(profileForm) }}
        </div>
    </div>
    <p>{{ user.username }}</p>
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
    <div class="badges">
        {% for badge in userBadges %}
            <h2>{{ badge.result.0.name }}</h2>
            <img src="{{ badge.result.0.image}}" alt="Badge" height="150" width="150">
            <h3>{{ badge.result.0.description }}</h3>
            <p>{{ badge.result.0.criteriaNarrative }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
