{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="row">
        <div class="col-md-8">
            <div class="profileimgwrap">
                <div class="profileimg">  {#this is the default div to display#}
                    {% if user.avatar %}
                        <img src="{{ asset('upload/' ~ user.avatar) }}" alt="avatar of {{ user.name }}">
                    {% else %}
                        <img src="{{ asset('assets/img/logo_transparent.png') }}" alt="avatar of {{ user.name }}">
                    {% endif %}
                </div>
                <div id="changeavatar"> {#If the Edit button is clicked, display this div on the profile photo #}
                    {{ form_start(profileForm) }}
{#                    <div id="imagebutton">+</div>#}
                    <div class="gone" id="show">
                        {{ form_row(profileForm.avatar) }}
{#                        <button class="button_2 btn">Change avatar</button>#}
                    </div>

                </div>
            </div>
            <div class="profiletext">
                <div id="show-mode"> {#this is the default div to display#}
                    <p>{{ user.username }}</p>
                    <p>{{ user.name }}</p>
                    <p>{{ user.email }}</p>
                    <div id="imagebutton">Edit Profile</div>
                </div>
                <div id="edit-mode"> {#If the Edit button is clicked, replace div above with this#}
                    {{ form_row(profileForm.username) }}
                    {{ form_row(profileForm.name) }}
                    {{ form_row(profileForm.email) }}
                    <button class="button_2 btn">Update Profile</button>
                </div>
            </div>
            {{ form_end(profileForm) }}
            <div class="progression">
                <h3 class="title">Your courses</h3>
                <p class="coursetitle">Javascript</p>
                    <div class="progress progress_1">
                        <div class="progress-bar progress_1_bar" role="progressbar" id="moduleprogress" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">25%
                        </div>
                    </div>
                <button class="completebutton button_2">Complete</button>
            </div>

        </div>
        <div class="badges col-md-4 row">
            <!-- testbadges -->
            <div class="badge col-md-6 testborder">
                <p>badge name</p>
                <img class="badgeimage" src="{{ asset('assets/img/logo_transparent.png') }}" alt="Badge" height="150" width="150">
                <p>description</p>
                <p>criteria</p>
            </div>
            <div class="badge col-md-6 testborder">
                <p>badge name</p>
                <img class="badgeimage" src="{{ asset('assets/img/logo_transparent.png') }}" alt="Badge" height="150" width="150">
                <p>description</p>
                <p>criteria</p>
            </div>
            <div class="badge col-md-6 testborder">
                <p>badge name</p>
                <img class="badgeimage" src="{{ asset('assets/img/logo_transparent.png') }}" alt="Badge" height="150" width="150">
                <p>description</p>
                <p>criteria</p>
            </div>
            <div class="badge col-md-6 testborder">
                <p>badge name</p>
                <img class="badgeimage" src="{{ asset('assets/img/logo_transparent.png') }}" alt="Badge" height="150" width="150">
                <p>description</p>
                <p>criteria</p>
            </div>
            <!-- END testbadges -->
            {% for badge in userBadges %}
                <div class="badge col-md-6">
                    <p>{{ badge.result.0.name }}</p>
                    <img class="badgeimage" src="{{ badge.result.0.image}}" alt="Badge" height="150" width="150">
                    <p>{{ badge.result.0.description }}</p>
                    <p>{{ badge.result.0.criteriaNarrative }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    <script src="{{ asset('assets/js/profile.js') }}"></script>
{% endblock %}
