{% extends 'base.html.twig' %}

{% block title %}Hello DashboardModuleController!{% endblock %}

{% block body %}

    {# pls put this in the css #}
    <style>
        tr {
            cursor: pointer;
        }
    </style>

    <div class="container">
        <a href="{{ path('dashboard') }}">Back</a>
        <hr>
        <h3>DQL Result</h3>
        {{ dump(moduleArray) }}
        <h3>flagging() result</h3>
        {{ dump(flagData) }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Chapter</th>
                <th scope="col">#pages</th>
                <th scope="col">Translations</th>
            </tr>
            </thead>
            <tbody>
            {% for chapter in moduleArray.chapters %}
                {% set chapterNumber = chapter['chapterNumber'] %}
                <tr>
                    <th scope="row">{{ chapterNumber }}</th>
                    <td>{% for chapterTranslation in chapter.translations %}
                            {% if chapterTranslation['language']['name'] == language.name %}
                                {% if chapterTranslation['title'] == '' %}
                                    Not yet translated
                                {% else %}
                                    {{ chapterTranslation['title'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}</td>
                    <td>{{ chapter['pages']|length }}</td>
                    <td>
                        {% if  (flagData['chapters'][chapterNumber]['chapterNeededTranslations']|length - 5) | abs > 2 %}
                            <a class="btn btn-success" title="{{ flagData['chapters'][chapterNumber]['chapterNeededTranslations'] | join('\n') }}"
                               href="{{ path('edit_chapter', {module: moduleArray['id'], chapter: chapter.id}) }}">{{ (flagData['chapters'][chapterNumber]['chapterNeededTranslations']|length - 5) | abs }}
                                / {{ languagecount }}</a>
                        {% elseif  (flagData['chapters'][chapterNumber]['chapterNeededTranslations']|length - 5) | abs == 2 %}
                            <a class="btn btn-warning" title="{{ flagData['chapters'][chapterNumber]['chapterNeededTranslations'] | join('\n') }}"
                               href="{{ path('edit_chapter', {module: moduleArray['id'], chapter: chapter.id}) }}">{{ (flagData['chapters'][chapterNumber]['chapterNeededTranslations']|length - 5) | abs }}
                                / {{ languagecount }}</a>
                        {% else %}
                            <a class="btn btn-danger" title="{{ flagData['chapters'][chapterNumber]['chapterNeededTranslations'] | join('\n') }}"
                               href="{{ path('edit_chapter', {module: moduleArray['id'], chapter: chapter.id}) }}">{{ (flagData['chapters'][chapterNumber]['chapterNeededTranslations']|length - 5) | abs }}
                                / {{ languagecount }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
