{% extends 'base.html.twig' %}

{% block title %}Hello DashboardModuleController!{% endblock %}

{% block body %}

    <style>
        .help-icon {
            cursor: pointer;
        }
    </style>

    <div class="example-wrapper my-3">
        <a class="btn btn-skills" href="{{ path('dashboard') }}">Back</a>
        <h3>Chapters</h3>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Chapter</th>
                <th scope="col"># pages</th>
                <th scope="col">Translations <i
                            title="This chapters' title and description translations.&#10;Click to go to that chapters edit page.&#10;Hover to see the missing translations."
                            class="help-icon far fa-question-circle"></i></th>
                <th scope="col">&#128269;</th>
            </tr>
            </thead>
            <tbody>
            {% for chapterObj in module.chapters %}
                {% set chapter = cr.chapterAsArray(chapterObj) %}
                {% if chapter is not empty %}
                {% set chapterNumber = chapter[0]['chapterNumber'] %}
                <tr>
                    <th scope="row">{{ chapterNumber }}</th>
                    <td>{% for chapterTranslation in chapter[0]['translations'] %}
                            {% if chapterTranslation['language']['name'] == language.name %}
                                {% if chapterTranslation['title'] == '' %}
                                    Not yet translated
                                {% else %}
                                    {{ chapterTranslation['title'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}</td>
                    <td>{{ chapter[0]['pages']|length }}</td>
                    <td>
                        {% for chapterTL in chapter[0]['translations'] %}
                            {% set badgeclass = 'badge-danger' %}
                            {% if chapterTL['title'] != '' %}
                                {% set badgeclass = 'badge-success' %}
                            {% endif %}
                            <a class="badge {{ badgeclass }}" href="{{ path('edit_chapter', {'chapter': chapter[0]['id'], 'module': module.id, lang: chapterTL['language']['code']}) }}">{{ chapterTL['language']['name'] }}</a>
                        {% endfor %}
                    </td>
                    <td><a class="badge btn btn-skills" href="{{ path('dashboard_chapter', {chapter: chapter[0]['id']}) }}">View Pages</a></td>
                </tr>
                    {% else %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td colspan="6">This chapter needs more pages! <a class="badge btn badge-warning" href="{{ path('create_chapter', {'module': module.id, 'chapter':  chapterObj.id}) }}">Add one!</a></td>
                        </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
        <a class="badge btn-skills" href="{{ path('edit_module', {'module': module.id}) }}">++ Add more chapters ++</a>
        </div>
    </div>

{% endblock %}
