{% extends 'base.html.twig' %}

{% block title %} {{ 'Dashboard' | trans }}-{{ 'Chapter' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">{{ 'Dashboard' | trans }}</a></li>
        {% for crumb in chapter.dashboardBreadcrumbs(app.user.language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="title-css">{{ 'Chapter Dashboard' | trans }}</h1>

    <div class="example-wrapper">
        <div class="text-center">
            <a class="p-1 btn btn-skills button_8 buttonNavBox"
               href="{{ path('create_chapter', {module: chapter.learningModule.id, chapter: chapter.id }) }}">{{ 'Chapter Overview' | trans}}
                </a>
        </div>
        <h3 class="subtitle-css">{{ 'Pages' | trans }}</h3>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'Page' | trans }} {{ 'title' | trans }}</th>
                <th scope="col">{{ 'Translations' | trans }} <i
                            title="This page's title and description translations.&#10;Click to go to that page's edit page."
                            class="help-icon far fa-question-circle"></i>
                </th>
                <th scope="col">&#10060;</th>
            </tr>
            </thead>
            <tbody>
            {% for page in chapter.pages %}
                {% set pageArray = pr.pageAsArray(page)[0] %}
                {% set pageFlags = fm.checkPageTranslationSolo(pageArray, languagecount) %}
                <tr>
                    <th scope="row">{{ pageArray['pageNumber'] }}</th>
                    <td>{% for pageTranslation in pageArray['translations'] %}
                            {% if pageTranslation['language']['name'] == language.name %}
                                {{ pageTranslation['title'] }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for pageTL in pageArray['translations'] %}
                            {% set badgeclass = 'badge-danger' %}
                            {% if pageTL['title'] != '' %}
                                {% set badgeclass = 'badge-success' %}
                            {% endif %}
                            <a class="badge {{ badgeclass }}"
                               href="{{ path('edit_page', {'chapter': chapter.id, 'module': chapter.learningModule.id, 'page': page.id, lang: pageTL['language']['code'], return: 'dash'}) }}">{{ pageTL['language']['name'] }}</a>
                        {% endfor %}
                    </td>
                    <td><a class="badge badge-danger"
                           onclick="return confirm('Are you sure you want to delete this page?')"
                           href="{{ path('delete_page', {'chapter': chapter.id, 'module': chapter.learningModule.id, 'page': page.id, return: 'dash'}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a class="p-1 btn btn-skills button_8 buttonNavBox"
               href="{{ path('create_chapter', {'module': chapter.learningModule.id, 'chapter': chapter.id}) }}">{{ 'Edit Chapter' | trans }}</a>
        </div>
        <br>
        <h3 class="subtitle-css">Quiz <a class="p-1 btn btn-skills button_8"
                    href="{{ path('quiz_show_user', {'quiz': chapter.quiz.id, 'test': 'true'}) }}">{{ 'Test' | trans }}</a></h3>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'Question' | trans }}</th>
                <th scope="col"># {{ 'Answers' | trans }}</th>
                <th scope="col">{{ 'Translations' | trans }} <i
                            title="This question's title and description translations.&#10;Click to go to that question's edit page.&#10;Hover to see the missing translations."
                            class="help-icon far fa-question-circle"></i>
                </th>
                <th scope="col">&#128269;</th>
            </tr>
            </thead>
            <tbody>

            {% if cr.chapterQuizAsArray(chapter) is empty %}
                <tr>
                    <td colspan="6">{{ 'This quiz has no questions!' | trans }}<a class="badge btn badge-warning"
                                                                                  href="{{ path('quiz_show', {'id': chapter.quiz.id}) }}">{{ 'Add one!' | trans }}</a></td>
                </tr>
            {% else %}
                {% for question in cr.chapterQuizAsArray(chapter)[0]['quiz']['quizQuestions'] %}
                    <tr>
                        <th scope="row">{{ question['questionNumber'] }}</th>
                        <td>{% for questionTranslation in question['translations'] %}
                                {% if questionTranslation['language']['name'] == language.name %}
                                    {% if questionTranslation['title'] == '' %}
                                        {{ 'Not yet translated' | trans }}
                                    {% else %}
                                        {{ questionTranslation['title'] |slice(0, 40) ~ '...' }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ question['answers']|length }}</td>
                        <td>
                            {% for questionTL in question['translations'] %}
                                {% set badgeclass = 'badge-danger' %}
                                {% if questionTL['title'] != '' %}
                                    {% set badgeclass = 'badge-success' %}
                                {% endif %}
                                <a class="badge {{ badgeclass }}"
                                   href="{{ path('quiz_question_edit', {'id': question['id'], lang: questionTL['language']['code'], return: 'dash'}) }}">{{ questionTL['language']['name'] }}</a>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="badge badge-primary"
                               href="{{ path('dashboard_question', {chapter: chapter.id , question: question['id']}) }}">{{ 'Answers' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="text-center">
            <a class="p-1 btn btn-skills button_8 buttonNavBox" href="{{ path('quiz_show', {'id': chapter.quiz.id}) }}">{{ 'Edit Quiz' | trans }}</a>
        </div>
    </div>
{% endblock %}
