{% extends 'base.html.twig' %}

{% block title %}Hello DashboardChapterController!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">
        <a href="{{ path('dashboard_module', {module: chapterArray['id']}) }}">Back</a>
        <hr>
        <h3>Pages</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Page title</th>
                <th scope="col">Translations <i
                            title="This page's title and description translations.&#10;Click to go to that page's edit page.&#10;Hover to see the missing translations."
                            class="help-icon far fa-question-circle"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for page in chapterArray['pages'] %}
                <tr>
                    <th scope="row">{{ page['pageNumber'] }}</th>
                    <td>{% for pageTranslation in page['translations'] %}
                            {% if pageTranslation['language']['name'] == language.name %}
                                {% if pageTranslation['title'] == '' %}
                                    Not yet translated
                                {% else %}
                                    {{ pageTranslation['title'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% set btnClass = 'btn-danger' %}
                        {% if  (pagesFlags[page['pageNumber']]['pageNeededTranslations']|length - 5) | abs > 2 %}
                            {% set btnClass = 'btn-success' %}
                        {% elseif  (pagesFlags[page['pageNumber']]['pageNeededTranslations']|length - 5) | abs == 2 %}
                            {% set btnClass = 'btn-warning' %}
                        {% endif %}
                        <a class="btn {{ btnClass }}"
                           title="{{ pagesFlags[page['pageNumber']]['pageNeededTranslations'] | join('\n') }}"
                           href="{{ path('edit_page', {module: chapter.learningModule.id, chapter: chapterArray['id'], page: page['id']}) }}">{{ (pagesFlags[page['pageNumber']]['pageNeededTranslations']|length - 5) | abs }}
                            / {{ languagecount }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Quiz</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col"># answers</th>
                <th scope="col">Translations <i
                            title="This question's title and description translations.&#10;Click to go to that question's edit page.&#10;Hover to see the missing translations."
                            class="help-icon far fa-question-circle"></i>
                </th>
                <th scope="col">&#128269;</th>

            </tr>
            </thead>
            <tbody>
            {% for question in chapterArray['quiz']['quizQuestions'] %}
                <tr>
                    <th scope="row">{{ question['questionNumber'] }}</th>
                    <td>{% for questionTranslation in question['translations'] %}
                            {% if questionTranslation['language']['name'] == language.name %}
                                {% if questionTranslation['title'] == '' %}
                                    Not yet translated
                                {% else %}
                                    {{ questionTranslation['title'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ question['answers']|length }}</td>
                    <td>
                        {% set btnClass = 'btn-danger' %}
                        {% if  (quizFlags['questions'][question['questionNumber']]['questionNeededTranslations']|length - 5) | abs > 2 %}
                            {% set btnClass = 'btn-success' %}
                        {% elseif  (quizFlags['questions'][question['questionNumber']]['questionNeededTranslations']|length - 5) | abs == 2 %}
                            {% set btnClass = 'btn-warning' %}
                        {% endif %}
                        <a class="btn {{ btnClass }}"
                           title="{{ quizFlags['questions'][question['questionNumber']]['questionNeededTranslations'] | join('\n') }}"
                           href="#">{{ (quizFlags['questions'][question['questionNumber']]['questionNeededTranslations']|length - 5) | abs }}
                            / {{ languagecount }}</a>
                    </td>
                    <td>
                        <a href="{{ path('dashboard_question', {chapter: chapterArray['id'] , question: question['id']}) }}">Check</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
