{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit QuizAnswer' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">{{ 'Dashboard' | trans }}</a></li>
    {% if returnCode == 'dash' %}
        {% for crumb in quiz_answer.dashboardBreadcrumbs(app.user.language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
    {% elseif returnCode == 'flow' %}
        {% for crumb in quiz_answer.editBreadcrumbs(app.user.language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="mod-title">{{ 'Edit Answer' | trans }}</h1>
    </div>
    <div class="example-wrapper">
        <h1 class="title-css">{{ 'Edit QuizAnswer to:' | trans }}</h1>
        <h4 class="subtitle-css">{{ quiz_answer.quizQuestion.trTitle(app.request.query.get('lang')) }}</h4>

        {{ include('quiz_answer/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('quiz_answer/_delete_form.html.twig') }}
        <a href="{{ path('quiz_show', {'id': quiz_answer.quizQuestion.quiz.id, 'lang': app.request.query.get('lang')}) }}">
            <button class="button button_2 btn-margin">{{ 'Back to list' | trans }}</button>
        </a>
    </div>
{% endblock %}
