{% extends 'base.html.twig' %}

{% block title %}{{ 'New QuizAnswer' | trans }}{% endblock %}

{% block breadcrumbs %}
    <h6 class="breadcrumbs">
        <a class="crumb crumb-link" href="{{ path('partner') }}">Partner</a>
        <span class="crumb crumb-separator"> > </span>
        {% for crumb in quiz_answer.breadcrumbs(app.user.language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
    </h6>
{% endblock %}

{% block body %}
    <h1>{{ 'Create new QuizAnswer to:' | trans }}</h1>
    <h4>{{ quiz_answer.quizQuestion.trTitle(app.request.query.get('lang')) }}</h4>

    {{ include('quiz_answer/_form.html.twig') }}

    <a href="{{ path('quiz_show', {'id': quiz_answer.quizQuestion.quiz.id, 'lang': app.request.query.get('lang')}) }}">{{ 'back to list' | trans }}</a>
{% endblock %}
