{% extends 'base.html.twig' %}

{% block title %}{{ 'QuizAnswer' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'QuizAnswer to question:' | trans }}</h1>
    <h4>{{ quiz_answer.quizQuestion.title(app.user.language) }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <td>{{ quiz_answer.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Answer' | trans }}</th>
                <td>{{ quiz_answer.title(app.user.language) }}</td>
            </tr>
            <tr>
                <th>{{ 'IsCorrect' | trans }}</th>
                <td>{{ quiz_answer.isCorrect ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_show', {'id': quiz_answer.quizQuestion.quiz.id}) }}">{{ 'back to list' | trans }}</a> |

    <a href="{{ path('quiz_answer_edit', {'id': quiz_answer.id}) }}">{{ 'edit' | trans }}</a>

    {{ include('quiz_answer/_delete_form.html.twig') }}
{% endblock %}
