{% extends 'base.html.twig' %}

{% block title %}QuizAnswer{% endblock %}

{% block body %}
    <h1>QuizAnswer to question:</h1>
    <h4>{{ quiz_answer.quizQuestion.title(user.language) }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_answer.id }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ quiz_answer.title(user.language) }}</td>
            </tr>
            <tr>
                <th>IsCorrect</th>
                <td>{{ quiz_answer.isCorrect ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_show', {'id': quiz_answer.quizQuestion.quiz.id}) }}">back to list</a> |

    <a href="{{ path('quiz_answer_edit', {'id': quiz_answer.id}) }}">edit</a>

    {{ include('quiz_answer/_delete_form.html.twig') }}
{% endblock %}
