{% extends 'base.html.twig' %}

{% block title %}L2G - {{ 'Portal' | trans }}{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <p class="title-css">{{ 'Learning Hub' | trans }}</p>
        <p class="text-center intro-lh">{{ 'Navigate through the Learning Modules and find the right training for you to advance your skills' | trans }}</p>

        <p class="subtitle-css">{{ 'Your courses' | trans }}</p>

        <div class="row forum-cat-row">
            <div class="col-3 col-md-auto skillset">select skillset:</div>

            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills "
                   href="{{ path('portal', {'mode': 'ALL'}) }}">{{ 'all' | trans | upper }}</a>
            </div>

            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills"
                   href="{{ path('portal', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
            </div>
            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills"
                   href="{{ path('portal', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
            </div>
        </div>
        <div class="card-columns">
            {% for module in activeModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module, 'label': 'Complete your course' } %}
            {% endfor %}
        </div>


        {% for module in finishedModules %}
            {% if loop.first %}
                <h2>{{ 'Completed courses' | trans }}</h2>
                <div class="card-columns">
            {% endif %}
            {% include 'portal/partials/module.html.twig' with {'module': module, 'label': 'Restart this course'} %}
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}

        <hr>
        <a href="{{ path('forum') }}">{{ 'Forum' | trans }}</a>

        {#
                <a href="{{ path('app_logout') }}">Logout</a>
        #}
    </div>
{% endblock %}
