{% extends 'base.html.twig' %}

{% block title %}{{ 'greeting'|trans }} PortalController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if is_granted('ROLE_PARTNER') %}
            <hr>
            <a href="{{ path('partner') }}">{{'Partner Zone' | trans}}</a>
        {% endif %}
        <h1 class="text-center">{{'Learning Hub' | trans}}</h1>
        <p class="text-center intro-lh">Navigate through our Learninghub and find the appropiate training to reach your full potential.</p>
        <div class="card-columns">
            {% for module in modules %}
            <div class="card text-center">
                <div class="card-body">
                    <img class="card-img-top" src="../uploads/{{ module.image }}" alt="Circle image" style="width: 78px;">
                    <h5 class="card-title pt-5">{{ module.title(language) }}</h5>
                    <p class="card-text text-muted">{{ module.description(language) }}</p>
                    <a href="{{ path('module', { module : module.id}) }}" class="btn btn-default button_3">Complete this course</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <a href="{{ path('forum') }}">Meeting Place</a>

        <a href="{{ path('app_logout') }}">Logout</a>

    </div>
{% endblock %}
