{% extends 'base.html.twig' %}

{% block title %}{{ 'greeting'|trans }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'greeting'| trans |capitalize }}</h1>

        <div class="filter-container">
            <a class="btn btn-default" href="{{ path('portal', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
            <a class="btn btn-default" href="{{ path('portal', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
        </div>

        <h2>{{ 'Learning modules waiting for you' | trans }}</h2>
        <ul><!-- List of modules -->

            {% for module in activeModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module, 'language': language} %}
            {% endfor %}
        </ul>

        <h2>{{ 'Finished learning modules' | trans }}</h2>
        <ul><!-- List of modules -->
            {% for module in finishedModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module, 'language': language} %}
            {% endfor %}
        </ul>

        {% if is_granted('ROLE_PARTNER') %}
        <hr>
        <a href="{{ path('partner') }}">Partner Zone</a>
        {% endif %}
        <hr>
        <a href="{{ path('profile') }}">My Profile</a>
        <hr>
        <a href="{{ path('forum') }}">Meeting Place</a>

        <a href="{{ path('app_logout') }}">Logout</a>

    </div>
{% endblock %}
