{% extends 'base.html.twig' %}

{% block title %}{{ 'greeting'|trans }}!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <p class="title-css">{{ 'Learning Hub' | trans }}</p>
        <p class="text-center intro-lh">{{ 'Navigate through our Learninghub and find the appropiate training to reach your
            full potential.' | trans }}</p>

        <p class="subtitle-css">{{ 'Active modules' | trans }}</p>

        <div class="row forum-cat-row">
            <div class="col-3 col-md-auto skillset">select skillset:</div>

            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills {% if mode == 'ALL' %} active-mode {% endif %} "
                   href="{{ path('portal') }}">{{ 'all' | trans | upper }}</a>
            </div>

            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills {% if mode == 'SOFT' %} active-mode {% endif %} "
                   href="{{ path('portal', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
            </div>
            <div class="col-3 col-md-auto">
                <a class="btn btn-default btn-skills {% if mode == 'HARD' %} active-mode {% endif %} "
                   href="{{ path('portal', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
            </div>
        </div>
        <div class="card-columns">
            {% for module in activeModules %}

                {% include 'portal/partials/module.html.twig' with {'module': module, 'label': 'Complete this course' } %}
            {% endfor %}
        </div>


        {% for module in finishedModules %}
            {% if loop.first %}
                <h2>{{ 'Finished modules' | trans }}</h2>
                <div class="card-columns">
            {% endif %}
            {% include 'portal/partials/module.html.twig' with {'module': module, 'label': 'Restart this course'} %}
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}

        <hr>
        <a href="{{ path('forum') }}">{{ 'Meeting Place' | trans }}</a>

        {#
                <a href="{{ path('app_logout') }}">Logout</a>
        #}
    </div>
{% endblock %}
