{% extends 'base.html.twig' %}

{% block title %}{{ 'greeting'|trans }}!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <section class="row forum-cat-row">
            <div class="col-12">
                <div class="skills">
                    <a class="btn btn-default btn-skills" href="{{ path('portal', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
                </div>
                <div class="skills">
                    <a class="btn btn-default btn-skills" href="{{ path('portal', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
                </div>
                <div class="skills">
                    <a class="btn btn-default btn-skills" href="{{ path('portal') }}">{{ 'all' | trans | upper }}</a>
                </div>
                <div class="skills">Skillset:</div>
            </div>
        </section>

        <h1 class="text-center">{{ 'Learning Hub' | trans }}</h1>
        <p class="text-center intro-lh">{{ 'Navigate through our Learninghub and find the appropiate training to reach your
            full potential.' | trans }}</p>

        <h2>{{ 'Active modules' | trans }}</h2>
        <div class="card-columns">
            {% for module in activeModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module} %}
            {% endfor %}
        </div>

        <h2>{{ 'Finished modules' | trans }}</h2>
        <div class="card-columns">
            {% for module in finishedModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module} %}
            {% endfor %}
        </div>
        {#
                <a href="{{ path('app_logout') }}">Logout</a>
        #}
    </div>
{% endblock %}