{% extends 'base.html.twig' %}

{% block title %}{{ 'greeting'|trans }}!{% endblock %}

{% block body %}

    <div class="wrapper-two">

        <p class="title-css">{{ 'Learning Hub' | trans }}</p>
        <p class="text-center intro-lh">{{ 'Navigate through our Learninghub and find the appropiate training to reach your
            full potential.' | trans }}</p>


                <div class="row forum-cat-row">
                    <div class="col-3 col-md-auto skillset">select skillset:</div>

                    <div class="col-3 col-md-auto">
                        <a class="btn btn-default btn-skills " href="{{ path('forum', {'mode': 'ALL'}) }}">{{ 'all' | trans | upper }}</a>
                    </div>

                    <div class="col-3 col-md-auto">
                        <a class="btn btn-default btn-skills" href="{{ path('portal', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
                    </div>
                    <div class="col-3 col-md-auto">
                        <a class="btn btn-default btn-skills" href="{{ path('portal', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
                    </div>
                </div>


        <h2>{{ 'Active modules' | trans }}</h2>
        <div class="card-columns">
            {% for module in activeModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module} %}
            {% endfor %}
        </div>

        <h2>{{ 'Finished modules' | trans }}</h2>
        <div class="card-columns">
            {% for module in finishedModules %}
                {% include 'portal/partials/module.html.twig' with {'module': module} %}
            {% endfor %}
        </div>

        <hr>
        <a href="{{ path('forum') }}">{{ 'Meeting Place' | trans }}</a>

        {#
                <a href="{{ path('app_logout') }}">Logout</a>
        #}
    </div>
{% endblock %}