{% extends 'home.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="sidebar">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.avatar) }}
        <div class="loginwrap">
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button class="btn button_4">Register</button>
        </div>
    {{ form_end(registrationForm) }}
        <p class="accountgot">
                Already have an account? <a href="{{ path('app_login') }}">Login</a>
        </p>
</div>
{% endblock %}
