{% extends 'base.html.twig' %}

{% block title %}{{ 'Forum' | trans }} - {{ 'Topics' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('portal') }}">{{ 'Learning Hub'|trans }}</a></li>
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('forum') }}">{{ 'Forum'|trans }}</a></li>
        {% for crumb in category.learningModule.getForumBreadcrumbs(app.user.language, category) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
{% endblock %}

{% block body %}


    <section class="example-wrapper">

        <h1 class="title-css"> {{ category.learningModule.title(language) }}</h1>
        {#    <p>{{ category.learningModule.description(language) }}</p>#}


        <p class="subtitle-css">{{ 'Topics' | trans | title  }}</p>


        {% for topic in topics %}


            <div class="container ">

                <div class="row cards-forum center">

                    <div class="col-6 title-cards-forum">
                        {# Topic title#}
                        {{ topic.title(language) }}
                    </div>

                    <div class="col-3 questions-cards-forum">
                        {# Count Questions for that Topic#}
                        <p>{{ qRepo.getQuestionCount(topic) }} {{ 'Question(s)' | trans | lower }}</p>
                    </div>

                    <div class="col-3">
                        {# Link to the Topic's detail (all question) page#}
                        <a class="btn-forum button_8 "
                           href="{{ path('topic', {'category': category.id, 'chapter': topic.id}) }}">
                            {{ 'Show' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}


