{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

   <h1>Forum</h1>

    <h2>Current Category</h2>
    {{ category.learningModule.title(language) }}<br>
    {{ category.learningModule.description(language) }} <br><br>

    <h2>Topics</h2>

    {% for topic in topics %}


<div class="main-forum-topic">
    <div class="inner-topics">
        {# Topic title#}
        {{ topic.title(language) }}
        <br>
        {# Count Questions for that Topic#}
        <p>There are {{ questionCount[topic.id] }} question(s) in this topic</p>
        {# Link to the Topic's detail (all question) page#}
        <button  class="more-button">
            <a href="{{ path('topic', {'category': category.id, 'chapter': topic.id}) }}" class="more-link">
                MORE
            </a>
        </button>

    </div>
</div>





    {% endfor %}

{% endblock %}


