{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

   <h1>Forum</h1>

    <h2>Current Category</h2>
    {{ category.learningModule.title(language) }}<br>
    {{ category.learningModule.description(language) }} <br><br>

    <h2>Topics</h2>

    {% for topic in topics %}
        <a href="{{ path('topic', {'category':  category.id , 'chapter': topic.id}) }}">
                {{ topic.title(language) }}<br>
        </a>
                <p>There are {{ questionCount[topic.id] }} question(s) in this topic</p>
        <br>
    {% endfor %}

{% endblock %}


