{% extends 'base.html.twig' %}

{% block title %}Hello EditModuleController!{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">Dashboard</a></li>
    {% for crumb in module.editBreadcrumbs(app.user.language) %}
        {{ include('partials/breadcrumbs.html.twig') }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="mod-title">{{ 'Edit Learning Module' | trans }}</h1>
    </div>
    <div class="container my-3">

        <section class="module-cube">
            <h3>Title and description</h3>
            {{ form_start(moduleTLForm) }}
            {{ form_row(moduleTLForm.title) }}
            {{ form_row(moduleTLForm.description) }}
            <button class="btn btn-skills">Update</button>
            {{ form_end(moduleTLForm) }}
        </section>

        <section class="module-cube">
            <h3>Badge & type</h3>
            {{ form_start(moduleForm) }}
            {{ form_row(moduleForm.badge) }}
            {{ form_row(moduleForm.type) }}
            <h6>Current type: {{ module.type }}</h6>
            <button class="btn btn-skills">Update</button>
            {{ form_end(moduleForm) }}
        </section>

        <section class="module-cube">
            <div class="row">
                <div class="col">
                    {{ form_start(moduleImageForm) }}
                    <h3>Change module image</h3>
                    <h6 class="text-muted">Allowed filetypes: .jpg, .gif and .png</h6>

                    {{ form_widget(moduleImageForm.upload, { 'attr': {'onchange': 'previewFile()'} }) }}
                    {{ form_errors(moduleImageForm.upload) }}
                    <button class="mt-2 btn btn-skills">Update</button>
                    {{ form_end(moduleImageForm) }}
                </div>
                <div class="col">
                    <p>image preview</p>
                    <img style="width: 180px;" class="uploadPreview" src="#" alt="">
                </div>
                <div class="col">
                    <p>current image</p>
                    <img style="width: 180px;" src="{{ asset(module.image | imagine_filter('learningModuleImage')) }}" alt="">
                </div>
            </div>


        </section>

        {% for chapter in module.chapters %}
            <section class="module-cube">
                <span>chapter nr: {{ chapter.chapterNumber }}</span><br>
                <span>chapter title: {{ chapter.title(english) }}</span><br>
                <a class="badge badge-danger"
                   href="{{ path('delete_chapter', {module: module.id, chapter: chapter.id, return: 'flow'}) }}">Delete
                    Chapter</a>
                <a class="badge badge-primary"
                   href="{{ path('create_chapter', {module: module.id, chapter: chapter.id}) }}">edit chapter</a>
                <a class="badge btn-primary" href="{{ path('quiz_show', {'id' : chapter.quiz.id}) }}">edit quiz</a>
            </section>
        {% endfor %}

        <div class="text-center">
            {{ form_start(addNewChapterBtn) }}
            <button class="btn btn-skills">Add a chapter</button>
            {{ form_end(addNewChapterBtn) }}
        </div>

    </div>

    <script src="{{ asset('assets/js/UploaderPreviewScript.js') }}"></script>

{% endblock %}
