{% extends 'base.html.twig' %}

{% block title %}Hello CreateModuleController!{% endblock %}

{% block body %}

    <section class="wrapper">

        <div class="row">
            <h1 class="mod-title">Module creation</h1>
        </div>

        <div class="row">
            <p class="mod-step">Step 1: To create a new module, please fill in the english title and description </p>
        </div>

        {{ form_start(form) }}

        <section class="module-cube">
            {{ form_row(form.translations) }}
        </section>

        <div class="row">
            <p class="mod-step">Step 2: Upload an image and assign the correct badge for module.</p>
        </div>

        <section class="module-cube">
            {{ form_row(form.badge) }}
            {{ form_row(form.type) }}
        </section>
        <button class="btn btn-skills">Add a Chapter</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
