{% extends 'base.html.twig' %}

{% block title %}Hello CreateModuleController!{% endblock %}

{#{% block breadcrumbs %}#}
{#        <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">Dashboard</a></li>#}
{#{% endblock %}#}

{% block body %}

    <section class="container my-3">

        <div class="row">
            <h1 class="mod-title">{{ 'New Learning Module Creation' | trans }}</h1>
        </div>

        <div class="row">
            <p class="mod-step">Step 1: To create a new module, please fill in the english title and description </p>
        </div>

        {{ form_start(form) }}

        <section class="module-cube">
            {{ form_row(form.translations) }}
        </section>

        <div class="row">
            <p class="mod-step">Step 2: Assign a badge and select the module type.</p>
            <p class="mod-step-partial">*Please note this requires visiting <a href="https://badgr.com/">Badgr.com</a> and creating an account.  There after you can obtain a hash, which functions as a unique id for a badge associated with the new Learning Module.</p>
        </div>

        <section class="module-cube">
            {{ form_row(form.badge) }}
            {{ form_row(form.type) }}
            {{ form_row(form.image) }}

        </section>
        <button class="btn btn-skills">Add a Chapter</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
