{% extends 'base.html.twig' %}

{% block title %}Hello CreateModuleController!{% endblock %}

{% block body %}
    <section class="wrapper">

        <div class="row">
            <h1 class="mod-title">Module creation</h1>
        </div>

        <div class="row">
            <p class="mod-step">Step 1: To create a new module, please fill in the english title and description </p>
        </div>

        {{ form_start(form) }}

        <section class="module-cube">
            {{ form_row(form.translations) }}
        </section>

        <div class="row">
            <p class="mod-step">Step 2: Upload an image and assign the correct badge for module.</p>
        </div>


        <section class="module-cube">
            {{ form_row(form.badge) }}
            {{ form_row(form.create) }}
        </section>
        {{ form_end(form) }}
    </section>

    {# <div class="example-wrapper">
         <h1>Howdy Partner!</h1>
         <hr>
         <a href="{{ path('partner') }}">Back to Partner Zone</a>
         <h2>To create a new module, please fill in one or more of the translations</h2>
         {{ form_start(form) }}
         {% for translation in form.translations %}
             <hr>
             <h2>{{ translation.vars.value.language.name }}</h2>
             {{ form_row(translation) }}
         {% endfor %}
         <hr>
         {{ form_row(form.image) }}
         {{ form_row(form.badge) }}
         {{ form_row(form.create) }}
         {{ form_end(form) }}
     </div>#}
{% endblock %}
