{% extends 'base.html.twig' %}

{% block title %}{{ 'Forum' | trans }}-{{ 'Search' | trans }}{% endblock %}

{% block body %}
    <section class="example-wrapper">
        <h3 class="title-css">{{ 'Search Results' | trans }}</h3>
        <p class="subtitle-css">{{ 'Forum' | trans }} {{ 'Question(s)' | trans }} </p>
        {% for results in resultsFromQuestion %}
            <a      class=""
                    href="{{ path('question', {'category': results.category.id, 'chapter': results.chapter.id, 'question': results.id}) }}"><br>
                {{ results.subject }}<br>
            </a>
        {% endfor %}
        <br>
        <hr><br>
        <p class="subtitle-css">{{ 'Replies' | trans }}</p>
        {% for results in resultsFromPost %}

            <a href="{{ path('question', {'category': results.question.category.id, 'chapter': results.question.chapter.id, 'question': results.question.id}) }}"><br>
                {{ results.subject }}<br>
            </a>
        {% endfor %}
        <br><br>
        <a href="{{ path('forum') }}">
            <button class="button button_2 centerbutton">{{ 'Back to forum' | trans }}</button>
        </a>
    </section>
{% endblock %}
