{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

    <h3>Search results</h3>
    <p>From Questions</p>
    {% for results in resultsFromQuestion %}
        <a href="{{ path('question', {'category': results.category.id, 'chapter': results.chapter.id, 'question': results.id}) }}"><br>
            {{ results.subject }}<br>
        </a>
    {% endfor %}
    <br><br>
    <p>From Posts</p>
    {% for results in resultsFromPost %}

        <a href="{{ path('question', {'category': results.topic.category.id, 'chapter': results.topic.chapter.id, 'question': results.topic.id}) }}"><br>
            {{ results.subject }}<br>
        </a>
    {% endfor %}
    <br><br>
    <a href="{{ path('forum') }}">Return to forums</a>
{% endblock %}
