{% extends 'pass.html.twig' %}

{% block title %}{{ 'Reset password' | trans }}!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'Reset your password!' | trans }}</h1>
        <p>
            {{ "Create your new password here " | trans }}
        </p>
        <p>
            {{ form_start(resetPasswordForm) }}
                {{ form_row(resetPasswordForm.selector) }}
                {{ form_row(resetPasswordForm.validator) }}
                {{ form_row(resetPasswordForm.password) }}
                {{ form_row(resetPasswordForm.passwordRepeat) }}
            <button class="btn btn-lg btn-primary margintop" type="submit" name="reset-password-submit">{{ 'Reset password' | trans }}!</button>
            {{ form_end(resetPasswordForm) }}
        </p>
    </div>
{% endblock %}