{% extends 'base.html.twig' %}

{% block title %}Hello EditChapterController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h3>Currently editing: Module {{ module.id }}, Chapter {{ chapter.chapterNumber }}</h3>

    <section class="module-cube">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <button class="btn btn-skills">Save</button>
        {{ form_end(form) }}
    </section>

</div>
{% endblock %}
