{% extends 'base.html.twig' %}

{% block title %}Edit Chapter{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">Dashboard</a></li>
    {% for crumb in chapter.editBreadcrumbs(app.user.language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="mod-title">{{ 'Edit Chapter' | trans }}</h1>
    </div>
    <div class="example-wrapper">
        <h3>Currently editing: Module {{ module.id }}, Chapter {{ chapter.chapterNumber }}</h3>

        <section class="module-cube">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
        </section>

        <button class="btn btn-skills">Save</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
