{% extends 'base.html.twig' %}

{% block title %}Hello UploadContentController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ form_start(uploader) }}
    {{ form_row(uploader.upload) }}
    {{ form_end(uploader) }}
    {% for image in imagesAll %}
        <img src="{{ asset('uploads/' ~ image.src) }}" width="200px" alt="{{ image.name }}">
    {% endfor %}
</div>
{% endblock %}
