{% extends 'base.html.twig' %}


{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>{{ 'Quiz index' | trans }}</h1>
    {% for learningModule in learning_modules %}
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'Module' | trans }}</th>
                    <th>
                        {% if learningModule.title(app.user.language) is not null %}
                            {{ learningModule.title(app.user.language) }}
                        {% else %}
                            {{ 'Not defined' | trans }}
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                                <tr>
                                    <th>{{ 'Chapter #' | trans }}</th>
                                    <th>{{ 'Chapter' | trans }}</th>
                                    <th></th>
                                </tr>
                            {% for chapter in learningModule.chapters %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {% if chapter.title(app.user.language) is not null %}
                                        {{ chapter.title(app.user.language) }}
                                    {% else %}
                                        {{ 'Not defined' | trans }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('quiz_show', {'id': chapter.quiz.id}) }}">{{ 'Show quiz' | trans }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{#
{% block title %}Quiz{% endblock %}

{% block body %}


    <div class="wrapper">
        <p class="center">JAVASCRIPT COURSE</p>
        <h1>Quiz</h1>
        <button class="btn btn-default button button_4chap btnchapquiz">Chapter info</button>

        <!--  question1   -->
        <section id="chapter-overview">

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios1"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios2"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="exampleRadios3"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--  question2  -->

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios4"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios4">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios5"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios5">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="exampleRadios6"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios6">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--  question3   -->

            <div class="container chapcontainerquiz">
                <div class="row"><h3>question 1</h3></div>
                <div class="row chapcardquiz">
                    <div class="col-md-6 chapimgquiz">
                        <p class="question"> Why so JavaScript and Java have similar name?</p>
                    </div>
                    <div class="col-md-6 chapinfoquiz">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios7"
                                   value="option1" checked>
                            <label class="form-check-label" for="exampleRadios7">
                                JavaScript is a stripped-down version of Java
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios8"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios8">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question3" id="exampleRadios9"
                                   value="option2">
                            <label class="form-check-label" for="exampleRadios9">
                                JavaScript's syntax is loosely based on Java's
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertical-line"></div>
        </section>

        <div class="row chapbutton_2quiz">
            <button class="btn btn-default button_5quiz">Submit test</button>
        </div>

    </div>
{% endblock %}
#}