{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz for {{ chapter.title(app.user.language) }}</h1>


    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Questions' | trans }}</th>
                <th></th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
                {% for question in quiz.quizQuestions %}
                    <tr>
                        <td>{{ question.questionNumber }}</td>
                        <td>
                            <h5>{{ question.title(app.user.language) }}</h5>
                            <table>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'Answer' | trans }}</th>
                                    <th>{{ 'Correct?' | trans }}</th>
                                    <th>{{ 'Actions' | trans }}</th>
                                </tr>
                                {% for answer in question.answers %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            {{ answer.title(app.user.language) }}
                                        </td>
                                        <td>
                                            {{ answer.isCorrect ? 'Yes' : 'No' }}
                                        </td>
                                        <td>
                                            <a class="badge badge-pill badge-primary" href="{{ path('quiz_answer_show', {'id': answer.id}) }}">{{ 'show' | trans }}</a>
                                            <a class="badge badge-pill badge-dark" href="{{ path('quiz_answer_edit', {'id': answer.id}) }}">{{ 'edit' | trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" href="{{ path('quiz_answer_new', {'id': question.id}) }}"><strong>+</strong> {{ 'Add Answer' | trans }}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <a class="badge badge-pill badge-primary" href="{{ path('quiz_question_show', {'id': question.id}) }}">{{ 'show' | trans }}</a>
                            <a class="badge badge-pill badge-dark" href="{{ path('quiz_question_edit', {'id': question.id}) }}">{{ 'edit' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
        <tr>
            <td>
                <a class="btn btn-secondary" href="{{ path('quiz_question_new', {'id': quiz.id}) }}"><strong>+</strong> {{ 'Add Question' | trans }}</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_index') }}">{{ 'back to list' | trans }}</a>

{% endblock %}
