{% extends 'base.html.twig' %}

{% block title %}{{ module.getTitle(language) }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>{{ module.getTitle(language) }}</h2>
        <p>{{ module.getDescription(language)  | parsedown | youtube | raw}}</p>
        <hr>
        <h3>{{ 'Chapter List'|trans }}</h3>
        <ul>
                {% for chapter in module.chapters %}
                    <li>
                        <h4>{{ chapter.getTitle(language) }}</h4>
                    </li>
                {% else %}
                    <li>{{ 'No chapters yet!'|trans }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <hr>
        <a href="{{ path('portal') }}">{{ 'Back to Portal'|trans }}</a>
    </div>
{% endblock %}
