{% extends 'base.html.twig' %}

{% block title %}{{ module.getTitle(language) }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>{{ module.getTitle(language) }}</h2>
        <p>{{ module.getDescription(language)  | parsedown | youtube | raw}}</p>
        <hr>
        <h3>{{ 'Chapter List'|trans }}</h3>
        <ul>
            {% for userChapter in module.getUserChapters(app.user) %}
                <li>
                    {% if userChapter.isUnlocked() %}
                        <a href="{{ path('module_view_page',
                            {'chapterPage': userChapter.chapter.getFirstPage().id}) }}">
                            {{ userChapter.chapter.getTitle(language) }}
                        </a>
                    {% else %}
                        {{ userChapter.chapter.getTitle(language) }}
                    {% endif %}
                </li>
            {% else %}
                <li>{{ 'No chapters yet!'|trans }}</li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{{ path('portal') }}">{{ 'Back to Portal'|trans }}</a>
    </div>
{% endblock %}
