{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <span>Current Module: {{ module.getTitle(language) }}, description: {{ module.getDescription(language) }}</span>
        <hr>
        <h3>Chapter List</h3>
        <ul>
            {% if module.chapters|length > 0 %}
                {% for chapter in module.chapters %}
                    <li>{{ chapter.getTitle(language) }} : {{ chapter.getDescription(language) }}
                     {% for page in chapter.pages %}
                         <div style="border: 1px solid red">
                         {% set html = parsedown.text(page.translations[0].content) %}
                             {{ mdparser.youtubeParser(html) | raw }}
                         </div>
                         {% endfor %}
                {% endfor %}
            {% else %}
                <li>no chapters yet!</li>
            {% endif %}
        </ul>
        <hr>
        <a href="{{ path('portal') }}">Back to Portal</a>
    </div>
{% endblock %}
