{% extends 'base.html.twig' %}
{% block title %}{{ page.getTitle(language) }}{% endblock %}
{% block body %}
<div class="example-wrapper">



    {{ page.getContent(language) | parsedown | youtube | raw }}

    {% if pageManager.previous() != null %}
    <a class="btn-primary btn" href="{{ path('module_view_page',
        {'chapterPage': pageManager.previous().getId()}) }}">{{ 'Previous' | trans }}</a>
    {% endif %}

    {% if pageManager.isLast() %}
        <a class="btn-success btn" href="{{ path('quiz_show_user',
            {'quiz': page.getChapter().getQuiz().getId()}) }}">{{ 'Start quiz' | trans }}</a>
    {% else %}
        <a class="btn-primary btn" href="{{ path('module_view_page',
            {'chapterPage': pageManager.next().getId()}) }}">{{ 'Next' | trans }}</a>
    {% endif %}
</div>
{% endblock %}
