{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit QuizQuestion' | trans }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('dashboard') }}">Dashboard</a></li>
    {% if returnCode == 'dash' %}
        {% for crumb in quiz_question.dashboardBreadcrumbs(language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
    {% elseif returnCode == 'flow' %}
        {% for crumb in quiz_question.editBreadcrumbs(language) %}
            {{ include('partials/breadcrumbs.html.twig') }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'Chapter: ' }}{{ quiz_question.quiz.chapter.trTitle(app.request.query.get('lang')) }}</h1>
        <h2>{{ 'Edit QuizQuestion ' | trans }} {{ quiz_question.questionNumber }}</h2>

        {{ include('quiz_question/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('quiz_show', {'id': quiz_question.quiz.id, 'lang': app.request.query.get('lang')}) }}">{{ 'back to list' | trans }}</a>

        {{ include('quiz_question/_delete_form.html.twig') }}
    </div>
{% endblock %}
