{% extends 'base.html.twig' %}

{% block title %}{{'New QuizQuestion' | trans }}{% endblock %}

{% block body %}
    <h1>{{'Create new QuizQuestion for:'  | trans }}</h1>
    <h2>{{ quiz_question.quiz.chapter.trTitle(app.request.query.get('lang')) }}</h2>

    {{ include('quiz_question/_form.html.twig') }}

    <a href="{{ path('quiz_show', {'id': quiz_question.quiz.id, 'lang': app.request.query.get('lang')}) }}">{{ 'back to list' | trans }}</a>
{% endblock %}
