<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {{ include('language_switcher/_switcher.html.twig') }} {# have switcherForm in the header of every page#}
            {{ 'language test' | trans }}
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('module') }}">Modules</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
