{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

    <h1>Forum</h1>

    <h2>Current Category</h2>
    {{ category.learningModule.title(language) }}<br>
    {{ category.learningModule.description(language) }} <br><br>

    <h2>Current Topic</h2>
        {{ currentTopic.title(language) }}<br>
        <br>

    <h4>All in Current Questions</h4>
    {% for question in questions %}
        {# Question text#}
        {{ question.subject }}
        <br>
        {# Count Replies#}

        <br>
        {# Question description for preview text#}
        {{ question.posts[0].subject }}
        <br>
        {# Link to the question's detail page#}
        <a href="{{ path('question', {'category': category.id, 'chapter': currentTopic.id, 'question': question.id}) }}">

          MORE

        </a>
        {{  question.dateFormatted }}<br>
        <p>There are {{ postCount[question.id] }} answer(s)git  in this topic</p>
        <br>
    {% endfor %}

    <h4>Add New Question</h4>
    {{ form_start(addQuestion) }}
    {{ form_end(addQuestion) }}

{% endblock %}



