{% extends 'base.html.twig' %}

{% block title %}L2G - {{ 'Forum' | trans | title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('portal') }}">{{ 'Learning Hub'|trans }}</a>
    </li>
    <li class="breadcrumb-item"><a class="crumb crumb-link" href="{{ path('forum') }}">{{ 'Forum'|trans }}</a></li>
    {% for crumb in currentTopic.forumBreadcrumbs(app.user.language, category) %}
        {{ include('partials/breadcrumbs.html.twig') }}
    {% endfor %}
{% endblock %}

{% block body %}

    <section class="example-wrapper">

        {#    TOPIC TITLE#}
        <h1 class="title-css">
            {{ currentTopic.title(language) }}
        </h1>

        <p class="subtitle-css">{{ 'Questions' | trans | title  }}</p>

        {% for question in questions %}

            <div class="container ">

                <div class="row cards-forum center">

                    <div class="col-4 title-cards-forum">
                        {# Question text#}
                        {{ question.subject }}
                    </div>

                    <div class="col-2 questions-cards-forum">
                        {# Count Replies#}
                        <p>{{ postCount[question.id] }} {{ 'Answer(s)' | trans | lower}}</p>
                    </div>

                    <div class="col-3 questions-cards-forum">
                        <p>By: {{ question.posts[0].getCreatedBy().username }}</p>
                    </div>

                    <div class="col-3">
                        {# Link to the question's detail page#}
                        <a class="btn-forum button_8"
                           href="{{ path('question', {'category': category.id, 'chapter': currentTopic.id, 'question': question.id}) }}">
                            {{ 'Show' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <p class="subtitle-css mt-5">{{ 'Add new question' | trans | title  }}</p>

        <section class="container topic-questions">

            {{ form_start(addQuestion) }}

            <section class="row question-row">
                <div class="col-3">
                    {# Form text #}
                    {{ form_label(addQuestion.question, 'Title:', { 'label_attr': {'class': 'question-text'} }) }}
                </div>
                <div class="col-9">
                    {# Form inputfield #}
                    {{ form_widget(addQuestion.question, {'attr': {'class': 'question-label'} }) }}
                </div>
            </section>

            <section class="row">
                <div class="col-3">
                    {# Form text #}
                    {{ form_label(addQuestion.questionDescription, 'Description:', { 'label_attr': {'class': 'questionDescription-text'} }) }}
                </div>

                <div class="col-9">
                    {# Form inputfield #}
                    {{ form_widget(addQuestion.questionDescription, {'attr': {'class': 'questionDescriptionTextbox questionDescription-label','rows': '5'} }) }}
                </div>
            </section>

           <button type="submit" class="btn-forum button_8">{{ 'Send Question' | trans }}</button>

            {{ form_end(addQuestion) }}


        </section>
    </section>
{% endblock %}



