{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

    <h1>Forum</h1>

    <h2>Current Category</h2>
    {{ categoryTitle }}<br>
    {{ categoryDescription }} <br><br>

    <h2>Current Topic</h2>
        {{ topics.title(language) }}<br>
        <br>

    <h4>All in Current Questions</h4>
    {% for question in questions %}
        <a href="{{ path('question', {'category': categoryId.id, 'chapter': topicId.id, 'question': question.id}) }}">
          {{ question.subject }}<br>
            {{  question.dateFormatted }}<br>
        </a>
        <br>
    {% endfor %}

    <h4>Add New Question</h4>
    {{ form_start(addQuestion) }}
    {{ form_end(addQuestion) }}

{% endblock %}



