{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <style>
        .flagbtn {
            cursor: pointer;
        }
    </style>

    <div class="container">
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Module Name</th>
                <th scope="col"># chapters</th>
                <th scope="col">Translations <i
                            title="This module's title and description translations.&#10;Click to go to that module's edit page."
                            class="help-icon far fa-question-circle"></i></th>
                <th scope="col">Check</th>
                <th scope="col">Status</th>
                <th scope="col">&#128269;</th>
            </tr>
            </thead>
            <tbody>
            {% for module in allModules %}
                {% set moduleArray = lmRepo.getModuleAsArray(module) %}
                {% if moduleArray is not empty %}
                    {% set moduleArray = moduleArray[0] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ module.getTitle(language) }}</td>
                        <td>{{ module.chapters|length }}</td>
                        <td>
                            {% set moduleFlag = fm.checkModuleTranslationsSolo(moduleArray) %}

                            {% set btnClass = 'badge-danger' %}
                            {% if  (moduleFlag['moduleNeededTranslations']|length - 5) | abs > 2 %}
                                {% set btnClass = 'badge-success' %}
                            {% elseif  (moduleFlag['moduleNeededTranslations']|length - 5) | abs == 2 %}
                                {% set btnClass = 'badge-warning' %}
                            {% endif %}
                            <a class="badge {{ btnClass }}"
                               title="{{ moduleFlag['moduleNeededTranslations'] | join('\n') }}"
                               href="{{ path('edit_module', {module: moduleArray['id']}) }}">{{ (moduleFlag['moduleNeededTranslations']|length - 5) | abs }}
                                / {{ languagecount }}</a>
                        </td>
                        <td>
                            <div id="flagbtn-{{ module.id }}" class="flagbtn badge badge-primary"
                                 onclick="checkModule({{ module.id }})">check
                            </div>
                        </td>
                        {% if module.isPublished %}
                            <td id="publish-{{ module.id }}">
                                <div class="badge badge-success">Published</div>
                            </td>
                        {% else %}
                            <td id="publish-{{ module.id }}">
                                <div class="badge badge-warning">Unpublished</div>
                            </td>
                        {% endif %}
                        <td><a href="{{ path('dashboard_module', {module: module.id}) }}">View chapters</a></td>
                    </tr>
                    <tr>
                        {# sorry to the poor soul that has to style this #}
                        <td style="display: none; text-align: left; font-size: 0.75em"
                            id="dump-{{ module.id }}"></td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <th scope="row">{{ loop.index }}</th>
                        <td colspan="6">This module needs more chapters! {link to module overview}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/dashboardFlagging.js') }}"></script>
{% endblock %}
