{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table td, th {
            width: 100px;
            height: 50px;
            border: 1px solid black;
            text-align: center;
        }

        table {
            width: 100%;
        }
    </style>

    <div class="example-wrapper">
        <table>
            <tr>
                <th>Module Translations</th>
                <th>Chapter Translations</th>
                <th>Page Translations</th>
                <th>Badgr</th>
                <th>Published</th>
            </tr>
            {% for module in allModules %}
                {% set moduleTranslations = module.flagPage['moduleTranslation'] %}
                {% set chapterTranslations = module.flagPage['chapterTranslation'] %}
                {% set chapterPageTranslations = module.flagPage['chapterPageTranslation'] %}
                <tr>
                    <td>
                        {% if moduleTranslations >= 2 %}
                            &#9989; <br> {{ moduleTranslations }} / {{ allLanguages|length }}
                        {% else %}
                            &#10060; <br> {{ moduleTranslations }} / {{ allLanguages|length }}
                        {% endif %}
                    </td>
                    <td>
                        {% if moduleTranslations >= 2 %}
                            &#9989; <br> {{ chapterTranslations }} / {{ allLanguages|length }}
                        {% else %}
                            &#10060; <br> {{ chapterTranslations }} / {{ allLanguages|length }}
                        {% endif %}
                    </td>
                    <td>
                        {% if moduleTranslations >= 2 %}
                            &#9989; <br> {{ chapterPageTranslations }} / {{ allLanguages|length }}
                        {% else %}
                            &#10060; <br> {{ chapterPageTranslations }} / {{ allLanguages|length }}
                        {% endif %}
                    </td>
                    <td>
                        TODO
                    </td>
                    <td>
                        {% if not module.isPublished %}
                            &#10060;
                        {% else %}
                            &#9989;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
