{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

<h1>Forum</h1>
    <h2>Category ID</h2>
    {{ categoryID }}
    <h3>Category</h3>
    {{ category }}
    <h4>All Topics</h4>
    {% for topic in topics %}
        <a href="?topic_id={{ topic.id }}">
            {{ topic.subject }}<br>
            {{ topic.date.format('m-d-Y H:i:s') }}<br>
        </a>
        <br>
    {% endfor %}
    <h4>Add New Topic</h4>
    {{ form_start(topic_now) }}
    {{ form_end(topic_now) }}
    <h4>Current Topic</h4>
    {{ topic }}
    {{ topic_date }}
    <h5>Posts</h5>
    {% for post in posts %}
        {{ post.subject }}<br>
        <form action="#" method="post">
            <button style="height: 30px; width: 30px;" type="submit" value="" ></button>
        </form>
        {{ post.date.format('m-d-Y H:i:s') }}<br>
        <br>
    {% endfor %}

    <br>
    {{ form_start(post_now) }}
    {{ form_end(post_now) }}

{% endblock %}
