{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <h1>Forum</h1>
    {{ category_now }}
    <h2>Topics</h2>
    {{ topic_now }}
    <h2>Posts</h2>
    {{ post_now }}
    {{ post_now_date }}
    <br><br>
    {{ post_now1 }}
    {{ post_now_date1 }}
{% endblock %}
