{% extends 'base.html.twig' %}

{% block title %}L2G -
	{{ 'Forum' | trans }}
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item">
		<a class="crumb crumb-link" href="{{ path('portal') }}">{{ 'Learning Hub'|trans }}</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">Forum</li>
{% endblock %}

{% block body %}

	<section class="example-wrapper">

		<p class="title-css">{{ 'Forum' | trans | title  }}</p>
		<p class="subtitle-css">{{ 'Categories' | trans | title  }}</p>

		<div class="row forum-cat-row">
			<div class="col-3 col-md-auto skillset">{{ 'Select skillset' | trans }}:</div>

			<div class="col-3 col-md-auto">
				<a class="btn button_1 btn-default btn-skills {% if mode == 'ALL' %} active-mode {% endif %} " href="{{ path('forum') }}">{{ 'All' | trans | upper }}</a>
			</div>
			<div class="col-3 col-md-auto">
				<a class="btn button_1 btn-default btn-skills {% if mode == 'SOFT' %} active-mode {% endif %}" href="{{ path('forum', {'mode': 'SOFT'}) }}">{{ 'soft' | trans | upper }}</a>
			</div>
			<div class="col-3 col-md-auto">
				<a class="btn button_1 btn-default btn-skills {% if mode == 'HARD' %} active-mode {% endif %}" href="{{ path('forum', {'mode': 'HARD'}) }}">{{ 'hard' | trans | upper }}</a>
			</div>
		</div>


		<div class="card-columns">
			{% for category in allCategories %}
				<a href="{{ path('category', {'category': category.id}) }}">
					<div class="card text-center">
						<div class="card-body">
							<p class="card-title forum-cat-title">
								{{ category.learningModule.title(app.user.language) }}
							</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}
