{% extends 'base.html.twig' %}

{% block title %}L2G Forums{% endblock %}

{% block body %}

<h3>Search results</h3>
<p>From Topics</p>
{% for results in resultsFromQuestion %}
    <a href="{{ path('question', {'question': results.id}) }}"><br>
        {{ results.subject }}<br>
    </a>
{% endfor %}
<br><br>
<p>From Posts</p>
{% for results in resultsFromPost %}
    <a href="{{ path('question', {'question': results.topic.id}) }}"><br>
        {{ results.subject }}<br>
    </a>
{% endfor %}
    <br><br>
    <a href="{{ path('forum') }}">Return to forums</a>
{% endblock %}
